@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* share style */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-prymary{
    padding: 20px 24px;
    border: none;
    background-color: #FF900E;
    border-radius: 5px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/* hrader style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
nav .nav-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-ditels{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.baner-image img{
    margin-top: 20px;
    width: 100%;
}

/* main style */

main{
    /* max-width: 1100px; */
    max-width: 1440px;
    margin: 70px auto;
}

/* feature- style */
.feature-container{
    display: flex;
    align-items: center;
    /* width: calc(100%/2); */
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
/* .feature-image img{
    width: 100%;
} */
.feature-content{
    padding-left: 74px;
    padding-right: 70px;
}
.feature-title{
    font-size: 2.8rem;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-weight: 700;
}
.feature-word{
    color: #FF900E;
    font-weight: 700;
}


/* responsive style */
/* mobile device  */
@media screen and (max-width:576px) {
    header{
        padding: 15px;
    }
    .feature-container,
    nav{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
    }
    .feature-image{
        grid-template-columns: 1fr;
    }
    .feature-content{
        padding-left: 14px;
        padding-right: 10px;
    }
}
/* mediam device */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 15px;
    }
    .feature-container{
        flex-direction: column-reverse;
    }
    nav{
        flex-direction: column;
    }

}
